<?xml version="1.0" encoding="utf-8"?>
<plugin id="nova.cordova.plugins.alipay" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>alipay</name>
    <description>alipay</description>
    <!-- add this to your config.xml -->
    <!-- <preference name="WECHATAPPID" value="YOUR_WECHAT_APP_ID_HERE" /> -->
    <preference name="PARTNER" />
    <preference name="SELLER" />
    <preference name="PRIVATE" />
    <preference name="PUBLIC" />
    <!--require cordova version -->
    <engines>
        <engine name="cordova" version=">=3.5.0" />
    </engines>
    <js-module src="pgalipay.js" name="alipay">
        <clobbers target="alipay" />
    </js-module>
    <platform name="android">
        <hook type="after_plugin_install" src="scripts/android_after_plugin_install.js" />
        <config-file target="config.xml" parent="/*">
            <feature name="Pgalipay">
                <param name="android-package" value="com.nova.cordova.alipay.Pgalipay" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <!-- alipay sdk end -->
        </config-file>
        <!-- Plugin Source -->
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <!-- alipay sdk begin -->
            <activity android:name="com.alipay.sdk.app.H5PayActivity" android:configChanges="orientation|keyboardHidden|navigation" android:exported="false" android:screenOrientation="behind">
            </activity>
            <activity android:name="com.alipay.sdk.auth.AuthActivity" android:configChanges="orientation|keyboardHidden|navigation" android:exported="false" android:screenOrientation="behind">
            </activity>
        </config-file>
        <!-- alipay Libs -->
        <lib-file src="src/android/alipay/libs/alipaySdk-20151112.jar" />
        <!-- alipay Sources -->
        <source-file src="src/android/com/nova/cordova/alipay/Base64.java" target-dir="src/com/nova/cordova/alipay" />
        <source-file src="src/android/com/nova/cordova/alipay/Keys.java" target-dir="src/com/nova/cordova/alipay" />
        <source-file src="src/android/com/nova/cordova/alipay/Pgalipay.java" target-dir="src/com/nova/cordova/alipay" />
        <source-file src="src/android/com/nova/cordova/alipay/Result.java" target-dir="src/com/nova/cordova/alipay" />
        <source-file src="src/android/com/nova/cordova/alipay/SignUtils.java" target-dir="src/com/nova/cordova/alipay" />
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Pgalipay">
                <param name="ios-package" value="Pgalipay" />
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="/*">
            <key>NSAppTransportSecurity</key>
            <dict>
                <key>NSAllowsArbitraryLoads</key>
                <true/>
            </dict>
            <key>LSApplicationQueriesSchemes</key>
            <array>
                <string>alipay</string>
                <string>alipayshare</string>
            </array>
        </config-file>
        <header-file src="src/ios/Plugins/Pgalipay.h"  />
        <source-file src="src/ios/Plugins/Pgalipay.m"  />
        <!-- Other required frameworks -->
        <framework src="libc++.tbd" />
        <framework src="libz.tbd" />
        <framework src="SystemConfiguration.framework" />
        <framework src="Security.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="CoreText.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="UIKit.framework" />
        <framework src="CFNetwork.framework" />
        <framework src="Foundation.framework" />
        <framework src="CoreMotion.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="libicucore.dylib" />
        <framework src="JavaScriptCore.framework" />
        <framework src="CoreText.framework" />
        <framework src="libsqlite3.dylib" />
        <framework src="ImageIO.framework" />
        
        <source-file src="src/ios/AlipaySDK.bundle" />
        <source-file src="src/ios/alipay/openssl" />
        <source-file src="src/ios/alipay/Util" />

        <framework src="src/ios/AlipaySDK.framework" custom="true" />
        <!-- Wechat Official -->

        <header-file src="src/ios/alipay/Order.h"  />
        <source-file src="src/ios/alipay/Order.m"  />

    </platform>
</plugin>
