<?xml version="1.0" encoding="utf-8"?>
<plugin id="nova.cordova.plugins.alipay" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>alipay</name>
    <description>alipay</description>
    <!-- add this to your config.xml -->
    <!-- <preference name="WECHATAPPID" value="YOUR_WECHAT_APP_ID_HERE" /> -->
    <preference name="PARTNER" />
    <preference name="SELLER" />
    <preference name="PRIVATE" />
    <preference name="PUBLIC" />
    <!--require cordova version -->
    <engines>
        <engine name="cordova" version=">=3.5.0" />
    </engines>
    <js-module src="pgalipay.js" name="alipay">
        <clobbers target="alipay" />
    </js-module>
    <platform name="android">
        <hook type="after_plugin_install" src="scripts/android_after_plugin_install.js" />
        <config-file target="config.xml" parent="/*">
            <feature name="Pgalipay">
                <param name="android-package" value="com.nova.cordova.alipay.Pgalipay" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <!-- alipay sdk end -->
        </config-file>
        <!-- Plugin Source -->
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <!-- alipay sdk begin -->
            <activity android:name="com.alipay.sdk.app.H5PayActivity" android:configChanges="orientation|keyboardHidden|navigation" android:exported="false" android:screenOrientation="behind">
            </activity>
            <activity android:name="com.alipay.sdk.auth.AuthActivity" android:configChanges="orientation|keyboardHidden|navigation" android:exported="false" android:screenOrientation="behind">
            </activity>
        </config-file>
        <!-- alipay Libs -->
        <lib-file src="src/android/alipay/libs/alipaySdk-20151112.jar" />
        <!-- alipay Sources -->
        <source-file src="src/android/com/nova/cordova/alipay/Base64.java" target-dir="src/com/nova/cordova/alipay" />
        <source-file src="src/android/com/nova/cordova/alipay/Keys.java" target-dir="src/com/nova/cordova/alipay" />
        <source-file src="src/android/com/nova/cordova/alipay/Pgalipay.java" target-dir="src/com/nova/cordova/alipay" />
        <source-file src="src/android/com/nova/cordova/alipay/Result.java" target-dir="src/com/nova/cordova/alipay" />
        <source-file src="src/android/com/nova/cordova/alipay/SignUtils.java" target-dir="src/com/nova/cordova/alipay" />
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Pgalipay">
                <param name="ios-package" value="Pgalipay" />
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="/*">
            <key>NSAppTransportSecurity</key>
            <dict>
                <key>NSAllowsArbitraryLoads</key>
                <true/>
            </dict>
            <key>LSApplicationQueriesSchemes</key>
            <array>
                <string>alipay</string>
                <string>alipayshare</string>
            </array>
        </config-file>
        <header-file src="src/ios/Plugins/Pgalipay.h" />
        <source-file src="src/ios/Plugins/Pgalipay.m" />
        <!-- Other required frameworks -->
        <framework src="libc++.tbd" />
        <framework src="libz.tbd" />
        <framework src="SystemConfiguration.framework" />
        <framework src="Security.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="CoreText.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="UIKit.framework" />
        <framework src="CFNetwork.framework" />
        <framework src="Foundation.framework" />
        <framework src="CoreMotion.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="libicucore.dylib" />
        <framework src="JavaScriptCore.framework" />
        <framework src="CoreText.framework" />
        <framework src="libsqlite3.dylib" />
        <framework src="ImageIO.framework" />
        <framework src="src/ios/AlipaySDK.framework" />
        <resource-file src="src/ios/AlipaySDK/AlipaySDK.bundle" />
        <!-- Wechat Official -->
        <header-file src="src/ios/alipay/openssl/aes.h" />
        <header-file src="src/ios/alipay/openssl/asn1.h" />
        <header-file src="src/ios/alipay/openssl/asn1_mac.h" />
        <header-file src="src/ios/alipay/openssl/asn1t.h" />
        <header-file src="src/ios/alipay/openssl/bio.h" />
        <header-file src="src/ios/alipay/openssl/blowfish.h" />
        <header-file src="src/ios/alipay/openssl/bn.h" />
        <header-file src="src/ios/alipay/openssl/buffer.h" />
        <header-file src="src/ios/alipay/openssl/camellia.h" />
        <header-file src="src/ios/alipay/openssl/cast.h" />
        <header-file src="src/ios/alipay/openssl/cmac.h" />
        <header-file src="src/ios/alipay/openssl/cms.h" />
        <header-file src="src/ios/alipay/openssl/comp.h" />
        <header-file src="src/ios/alipay/openssl/conf.h" />
        <header-file src="src/ios/alipay/openssl/conf_api.h" />
        <header-file src="src/ios/alipay/openssl/crypto.h" />
        <header-file src="src/ios/alipay/openssl/des.h" />
        <header-file src="src/ios/alipay/openssl/des_old.h" />
        <header-file src="src/ios/alipay/openssl/dh.h" />
        <header-file src="src/ios/alipay/openssl/dsa.h" />
        <header-file src="src/ios/alipay/openssl/dso.h" />
        <header-file src="src/ios/alipay/openssl/dtls1.h" />
        <header-file src="src/ios/alipay/openssl/e_os2.h" />
        <header-file src="src/ios/alipay/openssl/ebcdic.h" />
        <header-file src="src/ios/alipay/openssl/ec.h" />
        <header-file src="src/ios/alipay/openssl/ecdh.h" />
        <header-file src="src/ios/alipay/openssl/ecdsa.h" />
        <header-file src="src/ios/alipay/openssl/engine.h" />
        <header-file src="src/ios/alipay/openssl/err.h" />
        <header-file src="src/ios/alipay/openssl/evp.h" />
        <header-file src="src/ios/alipay/openssl/hmac.h" />
        <header-file src="src/ios/alipay/openssl/idea.h" />
        <header-file src="src/ios/alipay/openssl/krb5_asn.h" />
        <header-file src="src/ios/alipay/openssl/kssl.h" />
        <header-file src="src/ios/alipay/openssl/lhash.h" />
        <header-file src="src/ios/alipay/openssl/md4.h" />
        <header-file src="src/ios/alipay/openssl/md5.h" />
        <header-file src="src/ios/alipay/openssl/mdc2.h" />
        <header-file src="src/ios/alipay/openssl/modes.h" />
        <header-file src="src/ios/alipay/openssl/obj_mac.h" />
        <header-file src="src/ios/alipay/openssl/objects.h" />
        <header-file src="src/ios/alipay/openssl/ocsp.h" />
        <header-file src="src/ios/alipay/openssl/opensslconf.h" />
        <header-file src="src/ios/alipay/openssl/opensslv.h" />
        <header-file src="src/ios/alipay/openssl/ossl_type.h" />
        <header-file src="src/ios/alipay/openssl/pem.h" />
        <header-file src="src/ios/alipay/openssl/pem2.h" />
        <header-file src="src/ios/alipay/openssl/pkcs12.h" />
        <header-file src="src/ios/alipay/openssl/pkcs7.h" />
        <header-file src="src/ios/alipay/openssl/pqueue.h" />
        <header-file src="src/ios/alipay/openssl/rand.h" />
        <header-file src="src/ios/alipay/openssl/rc2.h" />
        <header-file src="src/ios/alipay/openssl/rc4.h" />
        <header-file src="src/ios/alipay/openssl/ripemd.h" />
        <header-file src="src/ios/alipay/openssl/rsa.h" />
        <header-file src="src/ios/alipay/openssl/safestack.h" />
        <header-file src="src/ios/alipay/openssl/seed.h" />
        <header-file src="src/ios/alipay/openssl/sha.h" />
        <header-file src="src/ios/alipay/openssl/srp.h" />
        <header-file src="src/ios/alipay/openssl/srtp.h" />
        <header-file src="src/ios/alipay/openssl/ssl.h" />
        <header-file src="src/ios/alipay/openssl/ssl2.h" />
        <header-file src="src/ios/alipay/openssl/ssl23.h" />
        <header-file src="src/ios/alipay/openssl/ssl3.h" />
        <header-file src="src/ios/alipay/openssl/stack.h" />
        <header-file src="src/ios/alipay/openssl/symhacks.h" />
        <header-file src="src/ios/alipay/openssl/tls1.h" />
        <header-file src="src/ios/alipay/openssl/ts.h" />
        <header-file src="src/ios/alipay/openssl/txt_db.h" />
        <header-file src="src/ios/alipay/openssl/ui.h" />
        <header-file src="src/ios/alipay/openssl/ui_compat.h" />
        <header-file src="src/ios/alipay/openssl/whrlpool.h" />
        <header-file src="src/ios/alipay/openssl/x509.h" />
        <header-file src="src/ios/alipay/openssl/x509_vfy.h" />
        <header-file src="src/ios/alipay/openssl/x509v3.h" />
        <header-file src="src/ios/alipay/openssl/buffer.h" />
        <header-file src="src/ios/alipay/openssl/buffer.h" />
        <header-file src="src/ios/alipay/openssl/buffer.h" />
        <header-file src="src/ios/alipay/Order.h" />
        <source-file src="src/ios/alipay/Order.m" />
        <header-file src="src/ios/alipay/Util/base64.h" />
        <source-file src="src/ios/alipay/Util/base64.m" />
        <header-file src="src/ios/alipay/Util/config.h" />
        <header-file src="src/ios/alipay/Util/DataSigner.h" />
        <source-file src="src/ios/alipay/Util/DataSigner.m" />
        <header-file src="src/ios/alipay/Util/DataVerifier.h" />
        <source-file src="src/ios/alipay/Util/DataVerifier.m" />
        <header-file src="src/ios/alipay/Util/MD5DataSigner.h" />
        <source-file src="src/ios/alipay/Util/MD5DataSigner.m" />
        <header-file src="src/ios/alipay/Util/NSDataEx.h" />
        <source-file src="src/ios/alipay/Util/NSDataEx.m" />
        <header-file src="src/ios/alipay/Util/openssl_wrapper.h" />
        <source-file src="src/ios/alipay/Util/openssl_wrapper.m" />
        <header-file src="src/ios/alipay/Util/RSADataSigner.h" />
        <source-file src="src/ios/alipay/Util/RSADataSigner.m" />
        <header-file src="src/ios/alipay/Util/RSADataVerifier.h" />
        <source-file src="src/ios/alipay/Util/RSADataVerifier.m" />
    </platform>
</plugin>
